*{
  background-color: azure;
  border: 2px solid azure;

}



.item{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{ 
    background-color: azure
}
.menu{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;

}
.item{
  display:flex;
  justify-content: space-left;

}
.item{
  margin-left :100px;
  

}
a:link{
  color: white;
}
a:visited{
  color: pink;
}
.menu{
  
  text-decoration: none;

}
